// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com


body
{
	background-color: #d0e4fe
}
p
{
	font-family: "Times New Roman";
	font-size: 20px;
	colour: #ff00ff;

    padding-left: 425px;
}
H1
{
	padding-left: 425px;
}
H4
{
	padding-left: 724px;
}