<!DOCTYPE html>
<html>
<head>
	<style>

</style>
  <title>Friend</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	 <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
<p>
<div id="container">
	<div id="model_nav">
		<H4>
		
		<% if model_signed_in? %>
		 signed in as <%= current_model.email %>.not you?
		 <%= link_to "signout", destroy_model_session_path, :method => :delete %>
		 
		 <% else %>
		 <%= link_to "sign up", new_model_registration_path %> or <%= link_to "sign in", new_model_session_path%>
		 <% end %>
		</H4>
		</div>
</p>
<p1>
    <a href="https://twitter.com/twitterapi" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow twitter</a>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</p1>
<div class="container">
	<div class="row">
		<div class="span9"><%= yield %></div>
		<div class="span3">
			<h3>About me </h3>This webpage is only for finditparts carrers, here i just wanted to show my abilities in developing a web page. It is just for reference please fell free to contact me at rxk31020@ucmo.edu
</div>



</body>
</html>
